
 body{
  margin:1px;
  padding:1px;
 }

 .navbar {
   font-size: larger;
    overflow: hidden;
    background-color: #00008B;
    color: white;
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 21px;
  color: white;
}

.navbar a:hover {
  background-color:white;
  color:#00008B;
}

.navbar a.active {
  background-color: rgb(200, 224, 243);
  color: #00008B;

}

.navbar-right {
  float: right;
}

.container{
    width:auto;
    font-family: 'Times New Roman', Times, serif;
    align-content:center;
    padding:20px 40px 20px 20px;
    
  }

 h3{
    font-size: 30px;
    color: #00008B;
  }
 
  .academicDetails
  {
      margin-top: 0px;
  }

  .table{
    align-self: center;
    text-align: center;
    border: 5px solid #00008B;
    margin-left:300px;
  }

  th{
    background :rgba(200, 224, 243);
  }

  .container{
    text-align: center;
    width:auto;
    font-family: 'Times New Roman', Times, serif;
    align-content:center;
    padding:20px 40px 20px 20px;
  }
  
  .academics{
  	    margin-top: 98px;
    margin-bottom: 40px;
  }

  .footer{
    padding: 20px 0px 20px 0px;
    background-color: #00008B;
    color: seashell;
    text-align: center;
}

  